@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
*{

    margin: 0;
    padding: 0;
}




main{

    width: 80%;
    margin: auto;


}

.fondo{
    background-image: url(../img/FondoPerruno2.jpg);
    background-repeat: repeat;
}

.centrar{
    margin: auto;

}

.padding{
    padding:10%;
}



.contenedor{
    background-color: #2aabd2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.fotoLogin{
    max-width: 100%;
    border-radius: 10px;
    text-align: center;

}

.contenido1{

    width: calc(60% - 2em);

    margin-top: 2em;
    margin-bottom: 1em;

}

.contenido2{

    width: calc(40% - 2em);

    margin-top: 2em;
    margin-bottom: 1em;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;

}

.encabezado{

    background-color: #172940;
    padding: 15px;
    background-color: black;
    border-bottom: 1px solid #FFF ;

}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: black;


}
.h2 {
    color:#172940;
}

.menu ul {
    background-color:  #111F30;
    display: flex;
    justify-content: center;

}

.menu li{

    list-style: none;
    text-align: center;

}


.menu a{

    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 1em;


}

.menu a:hover{

    background-color: #fff;
    color: #065FA9;

}


.error {

    color: rgb(255, 0, 0);
}

.link{
    color: white;
    text-align: right;
    text-decoration: none;
}

a:link, a:visited , a:active{

    text-decoration: none;

}