@charset "ISO-8859-1";



#now{
	background-color : white;
	opacity : 0.9;
	border-radius : 1em;
	border : 2px solid green;
	padding : 2em;
	text-align : center;
	font-weight: bold;
	width : 50%;
	margin : 0 auto;
}

body{
	background-image : url("../img/seguimiento.png");
	background-repeat: no-repeat;
    background-size: cover;
}

#llegada{
	background-image : url("../img/ambulanciaLlega.png");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
	background-color : white;
	margin : 0 auto;
	transition: transform 1s ease-in;
	animation: left-to-right 1s ease-in;
	animation-iteration-count: 1;
	width : 50%;
	height: 45vh;
	border-radius: 30%;
}

@keyframes left-to-right {
	0%{
	transform: translateX(-60%);
	}
	100%{
	transform: translateX(0);
	}
}